<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Aloysius</title>
    <style>
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #map {
          height: 100%;
        }
    </style>

</head>
<body>
    <div id="search">
        <p>Where to park?</p>

        <input type="text" />

        <p title="Use your GPS to find parking near you.">
            <a onclick="getLocation()">Use my current location</a>
        </p>
        <p id="demo"></p>
    </div>

    <div id="map"></div>

    <!-- Replace the API Key with your own -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuTmbAlXcxE9UyYLW4MlnYHu7ggja_qFg&callback=initMap" async defer></script>

    <script>

        var x = document.getElementById("demo");
        var map = document.getElementById("map");
        var search = document.getElementById("search");

        function getLocation() {

            search.hidden = true;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: position.coords.latitude, lng: position.coords.longitude },
                zoom: 16
            });
            
        }

    </script>
</body>
</html>
